
<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-item>
      <ion-title class="nav_title">EE commerce</ion-title>
        <ion-badge *ngIf="cartlength!=0" item-end class="badge">{{cartlength}}</ion-badge>
    </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content padding class="card-background-page">
<ion-list class="itemlist">
  <itemcard *ngFor="let item of items; let i=index" [flag]="cartflag.get(item.itemname)" [itemname]="item.itemname" [index]="i" (callfunction)="changeCart($event)"></itemcard>
</ion-list>


</ion-content>
